.message{
    position: fixed;
    bottom: 0;
    background-color: #F7F9FD;
    width: calc(100vw - 7vw - 30vw);
    padding: 15px 30px 15px 30px;
    display: flex;
    align-items: center;
    font-family: 'Manrope', sans-serif;

    img {
        user-select: none;
        -webkit-user-drag: none;
    }

    &__input {
        padding-right: 60px;
        border-radius: 7px;
        background-color: #EAF2FE;
        outline: none;

        width: 100px;

        
    }

    button {
        position: relative;
        left: -50px;
        z-index: 3;
    }

    &__button {
        background-color: #5B96F7;
        border: 0;
        border-radius: 12px;
        width: 48px;
        height: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    &__smiley {
        position: relative;
        left: -50px;
        cursor: pointer;
    }
}